<section class="contacts zoom" id="contacts">
  <div class="container zoom">
    <h2 class="contacts__title section__title">Адрес центрального офиса</h2>
  </div>
  <div class="contacts-tabs-content">
    <div class="contacts__map-wrap container">
      <div class="contacts__banner">
        <img class="contacts__banner-img" src="../img/contact-banner.jpg" alt="#">
        <div class="contacts__banner-info">
          <div class="contacts__banner-address"><span class="text-color">г. Кемерово</span><br>ул. Базовая, 5Б</div>
        </div>
        <div class="contacts__banner-timing">Ежедневно с 09.00 до 22.00<br></div>
        <div>
          <a class="contacts__banner-link" href="tel:+78122707901">8 (3842) 44-66-60</a>
        </div>
      </div>
    </div>
    <div id="contacts__map" class="contacts__map"></div>
  </div>
</section>

