<section class="director zoom">
<!--  <div class="director__bg">-->
<!--    <picture>-->
<!--      <source media="(max-width: 992px)" srcset="../img/director__bg.jpg">-->
<!--      &lt;!&ndash;<source srcset="../img/hero__bg.webp" type="image/webp">&ndash;&gt;-->
<!--      <img class="hero__bg-img" src="../img/director__bg.jpg" alt="bg">-->
<!--    </picture>-->
<!--  </div>-->
  <div class="container director__container">
    <div class="director__title-wrap">
      <h1 class="director__title section__title">8 из 10 клиентов<br>обращаются к нам<br><span class="text-color">по рекомедации</span></h1>
    </div>
    <picture>
      <source media="(max-width: 992px)" srcset="../img/director__man.png">
      <!--<source srcset="../img/hero__bg.webp" type="image/webp">-->
      <img class="director-img" src="../img/director__man.png" alt="bg">
    </picture>
    <div class="director__descr">
      <div class="director__descr-item">
        <div class="director__descr-text">Этот текст написан для макета, позже здесь будет продающий контент.
          Этот текст написан для макета, позже здесь будет продающий контент.
          Этот текст написан для макета, позже здесь будет продающий контент.
          Этот текст написан для макета, позже здесь будет продающий контент.
          Этот текст написан для макета, позже здесь будет продающий контент.</div>
        <div class="director__descr-text">Этот текст написан для макета, позже здесь будет продающий контент.
          Этот текст написан для макета, позже здесь будет продающий контент.
          Этот текст написан для макета, позже здесь будет продающий контент.
          Этот текст написан для макета, позже здесь будет продающий контент.
          Этот текст написан для макета, позже здесь будет продающий контент.</div>
      </div>
    </div>
    <div class="director__person">
      <div class="director__person-name">Станислав Дубоделов</div>
      <div class="director__person-descr">Руклвлдитель компании Электро Проект</div>
    </div>
  </div>
</section>

