<footer class="footer zoom">
  <div class="container footer__container">
    <div class="footer__wrapper">
      <div class="footer__logo">
        <a class="footer__logo-link" href="#">
          <img class="footer__logo-img" loading="lazy" src="../img/logo-footer.png" alt="#">
        </a>
        <div class="footer__logo-descr">Электромонтажные работы в&nbsp;Петербурге, Кемерово и&nbsp;Кемеровской области</div>
      </div>
      <div class="footer__copyright">
        <div class="footer__copyright-text">Copyright © 2013-2024 ООО<br>«Электропроект»<br>Копирование материалов преследуется по&nbsp;закону</div>

        <a class="footer__copyright-link" href="#" data-fancybox data-type="iframe" data-width="1200" data-height="610">Политика конфиденциальности</a>

      </div>
      <a class="footer__btn btn-reset btn-style" href="#">Получить предложение</a>
      <div class="footer__links">
        <div class="footer__links-descr">Ежедневно с&nbsp;09.00 до&nbsp;18.00</div>
        <a class="footer__links-tel zphone" href="tel:+73842446660">8 (3842) 44-66-60</a>
        <a href="https://smart-conversion.ru/" target="_blank" rel="nofollow">
          <div class="smart-link">
            <img loading="lazy" class="logo-scg" src="https://nsr-svet.ru/img/svg/logo-scg.svg" alt="#">
            <div class="descr-scg">Сделано<br>в&nbsp;SmartConversion</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</footer>
<div class="modal__backdrop hidden" id="modal-backdrop"></div>
