<section class="form-consultation form zoom">
  <div class="container form__container">
    <div class="form__wrap">
      <h2 class="form__title section__title">Получите консультацию и ответы на <span class="text-color">интресующие Вас вопросы</span></h2>
      <picture>
        <!--        <source srcset="https://nsr-svet.ru/img/consultation-man.webp" type="image/webp">-->
        <img class="form__img" loading="lazy" src="../img/consultation-man.png" alt="#">
      </picture>
      <div class="form__wrap-form">
        <form class="form__form" enctype="multipart/form-data">
          <div class="form__form-title">Заполните форму ниже</div>
          <div class="form__form-wrapper">
            <label class="form__form-label">
              <input class="form__form-input" type="name" name="name" placeholder="Поле-1" required>
            </label>
            <label class="form__form-label">
              <input class="form__form-input" type="tel" name="phone" placeholder="Поле-2" required>
            </label>
            <button class="btn-reset consultation-form__btn form__btn btn-style" type="button">Отправить заявку</button>
            <label class="custom-checkbox">
              <span class="custom-checkbox__content">
                <div class="form__copyright">Я принимаю условия<br>
                  <a class="form__copyright-link" href="https://nsr-svet.ru/policy/" data-fancybox data-type="iframe" data-width="1200" data-height="610">политики конфиденциальности</a>
                </div>
              </span>
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
