<section class="form-price form zoom">
  <div class="container form__container">
    <div class="form__wrap">
      <h2 class="form__title section__title">Получите <span class="text-color">подробную смету</span> на электромонтажные работы</h2>
      <div class="form__example">
        <a class="form__example-text" href="#">Посмотреть пример сметы</a>
        <div class="form__example-img">
          <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
          <svg width="100px" height="100px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.08884 14.7055C5.26942 14.2784 5.69482 14 6.16669 14H9V3C9 2.44772 9.44772 2 10 2H14C14.5523 2 15 2.44772 15 3V14H17.8333C18.3052 14 18.7306 14.2784 18.9112 14.7055C19.0917 15.1326 18.9919 15.6241 18.6583 15.951L12.825 21.6653C12.3693 22.1116 11.6307 22.1116 11.175 21.6653L5.34174 15.951C5.00808 15.6241 4.90826 15.1326 5.08884 14.7055Z" fill="#fff"/>
          </svg>
        </div>
      </div>
      <picture>
<!--        <source srcset="https://nsr-svet.ru/img/form-price.webp" type="image/webp">-->
        <img class="form__img" loading="lazy" src="../img/form-price-img.png" alt="#">
      </picture>
      <div class="form__wrap-form">
        <form class="form__form" enctype="multipart/form-data">
          <div class="form__form-title">Заполните форму ниже</div>
          <div class="form__form-wrapper">
            <label class="form__form-label">
              <input class="form__form-input" type="name" name="name" placeholder="Поле-1" required>
            </label>
            <label class="form__form-label">
              <input class="form__form-input" type="tel" name="phone" placeholder="Поле-2" required>
            </label>
            <button class="btn-reset price-form__btn form__btn btn-style" type="button">Отправить заявку</button>
            <label class="custom-checkbox">
              <span class="custom-checkbox__content">
                <div class="form__copyright">Я принимаю условия<br>
                  <a class="form__copyright-link" href="https://nsr-svet.ru/policy/" data-fancybox data-type="iframe" data-width="1200" data-height="610">политики конфиденциальности</a>
                </div>
              </span>
            </label>
          </div>

<!--          <div class="form__form-wrapper">-->
<!--            <div class="price-select__wrapper">-->
<!--              <div class="price-select price-select&#45;&#45;changed">-->
<!--                <div class="select__trigger">-->
<!--                  <img class="price-social-selected-image" src="src=https://nsr-svet.ru/img/icon/phone-form.png" alt="#">-->
<!--                  <span class="price-select__placeholder price-select&#45;&#45;changed">Телефон</span>-->
<!--                  <div class="select__arrow"></div>-->
<!--                </div>-->
<!--                <div class="price-select__options price-social-select-options">-->
<!--                  <div class="price-select__option price-select__option&#45;&#45;selected" data-name="Phone">-->
<!--                    <img src="https://nsr-svet.ru/img/icon/phone-form.png" alt="#">-->
<!--                    <span>Телефон</span>-->
<!--                  </div>-->
<!--                  <div class="price-select__option" data-name="Telegram">-->
<!--                    <img src="https://nsr-svet.ru/img/icon/phone-form.png" alt="#">-->
<!--                    <span>Telegram</span>-->
<!--                  </div>-->
<!--                  <div class="price-select__option" data-name="WhatsApp">-->
<!--                    <img src="https://nsr-svet.ru/img/icon/whatsapp.png" alt="#">-->
<!--                    <span>WhatsApp</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--            <label class="form__form-label">-->
<!--              <input class="form__form-input price-semifinal-phone" type="tel" name="phone" placeholder="Ваш телефон" required>-->
<!--              <input class="form__form-input price-semifinal-email" type="email" name="email" placeholder="Ваш email" style="display: none;">-->
<!--            </label>-->
<!--            <button class="btn-reset price-form__btn form__btn btn-style" type="button">Отправить заявку</button>-->
<!--          </div>-->
<!--          <label class="custom-checkbox">-->
<!--            <input type="checkbox" class="custom-checkbox__field" checked>-->
<!--            <span class="custom-checkbox__content">-->
<!--                <div class="form__copyright">Нажимая на&nbsp;кнопку, вы&nbsp;принимаете-->
<!--                  <a class="form__copyright-link" href="https://nsr-svet.ru/policy/" data-fancybox data-type="iframe" data-width="1200" data-height="610">условия обработки данных</a>-->
<!--                </div>-->
<!--              </span>-->
<!--          </label>-->
        </form>
        </div>
      </div>
  </div>
</section>
