<section class="form-smeta-projects form zoom" id="form-smeta">
  <div class="container form__container">
    <div class="form__wrap">
      <h2 class="form__title section__title">Получите <span class="text-color">подробную смету </span>
        на электромонтажные работы</h2>
      <picture>
        <!--        <source srcset="./img/smeta.webp" type="image/webp">-->
        <img class="form__img" loading="lazy" src="../img/smeta.png" alt="#">
      </picture>
      <div class="form__example-smeta">
        <a class="form__example-text" href="#">Посмотреть<br>пример сметы</a>
        <a class="form__example-img" href="#">
          <img src="../img/svg//arrow-down.svg" alt="#">
        </a>
      </div>
      <div class="form__wrap-form">

        <form class="form__form form__form-smeta form sending" action="send.php" method="post" enctype="multipart/form-data">
          <div class="form__form-title">Заполните форму ниже</div>
          <div class="form__form-wrapper">
            <label class="form__form-label">
              <input type="tel" name="phone" class="form-control input-reset form__input phone form__form-input" placeholder="Ваш номер телефона" required>
            </label>
            <label class="form__form-label">
              <input type="email" name="email" class="form-control input-reset form__input form__form-input" placeholder="Электронная почта" required>
            </label>
            <button class="btn-reset smeta-form__btn form__btn btn-style" type="submit">Отправить заявку</button>

            <div class="form__checkbox">
              <div class="input__wrapper">
                <input class="input input__file form-control-file" id="input__file-estimate" name="file" type="file" accept=".jpg, .png, .gif, .bmp, .jpeg, .doc, .docs, .pdf, .rtf, .txt, .rar, .zip, .xlsx, .xls" multiple>
                <label class="input__file-button" for="input__file-estimate">
                  <span class="input__file-button-text add-file">Прикрепить техническое задание</span>
                </label>
              </div>

              <label class="custom-checkbox">
                <input type="checkbox" class="custom-checkbox__field" checked="">
                <span class="custom-checkbox__content">
                <div class="form__copyright">Я принимаю условия<br>
                  <a class="form__copyright-link" href="https://elektro42.ru/policy/" data-fancybox data-type="iframe" data-width="1200" data-height="610">политики конфиденциальности</a>
                </div>
              </span>
              </label>
            </div>

          </div>
        </form>
      </div>
    </div>
  </div>
</section>


