<section class="guarantee zoom">
<!--  <div class="guarantee__bg">-->
<!--    <picture>-->
<!--      <source media="(max-width: 992px)" srcset="../img/guarantee__bg.jpg">-->
<!--      &lt;!&ndash;<source srcset="../img/guarantee__bg.webp" type="image/webp">&ndash;&gt;-->
<!--      <img class="guarantee__bg-img" src="../img/guarantee__bg.jpg" alt="bg">-->
<!--    </picture>-->
<!--  </div>-->
  <div class="container guarantee__container">
    <div class="guarantee__title-wrap">
      <h2 class="guarantee__title section__title">Предоставляем честную гарантию<br>до 7 лет на все работы</h2>
    </div>
    <div class="guarantee__descr">
      Этот текст написан для макета, позже здесь будет продающий контент.<br>
      Этот текст написан для макета, позже здесь будет продающий контент.
      Этот текст написан для макета, позже здесь будет продающий контент.
      Этот текст написан для макета, позже здесь будет продающий контент.
      <span class="text-bold">Этот текст написан для макета, позже здесь будет продающий контент.</span></div>
    <button class="guarantee__btn  btn-reset btn-style">Посмотреть<br>договор с гарантиями</button>
    <img class="guarantee__img" src="../img/guarantee-img.png" alt="#">
  </div>
</section>

