<section class="guarantee zoom">
  <div class="container guarantee__container">
    <div class="guarantee__title-wrap">
      <h2 class="guarantee__title section__title">Предоставляем честную <span class="title-shape">
        <img src="../img/title-shape.png" alt="#"></span>гарантию<br>до 7 лет на все работы</h2>
    </div>
    <div class="guarantee__descr">
      Этот текст написан для макета, позже здесь будет продающий контент.<br>
      Этот текст написан для макета, позже здесь будет продающий контент.
      Этот текст написан для макета, позже здесь будет продающий контент.
      Этот текст написан для макета, позже здесь будет продающий контент.
      <span class="text-bold">Этот текст написан для макета, позже здесь будет продающий контент.</span></div>
    <button class="guarantee__btn  btn-reset btn-style">Посмотреть<br>договор с гарантиями</button>
    <img class="guarantee__img" src="../img/guarantee-img.png" alt="#">
  </div>
</section>

