<header class="header zoom">
  <div class="header__menu">
    <div class="container header__container">
      <nav class="header__nav nav " data-menu>
        <ul class="nav__list list-reset">
          <li class="nav__item" data-menu-item><a href="#" class="nav__link">Получить расчет сметы</a></li>
          <li class="nav__item" data-menu-item><a href="#" class="nav__link">Наши услуги</a></li>
          <li class="nav__item" data-menu-item><a href="#" class="nav__link">Выполненнные проекты</a></li>
          <li class="nav__item" data-menu-item><a href="#" class="nav__link">О компании</a></li>
          <li class="nav__item" data-menu-item><a href="#" class="nav__link">Контакты</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="container header__bottom">
    <div class="container header__wrap">
      <div class="header__logo">
        <a class="header__logo-link" href="#">
          <picture class="header__logo-img">
            <img loading="lazy" src="../img/logo.png" alt="#">
          </picture>
        </a>
      </div>
      <div class="header__benefits">
        <div class="header__benefits-text">Электромонтажные работы в Петербурге, Кемерово и Кемеровской области</div>
      </div>
      <div class="header__mail">
        <div class="header__mail-img">
          <img src="../img/svg/email.svg" alt="#">
        </div>
        <div class="header__mail-text">
          <a href="mailto:info@elektro42.ru" class="header__mail-link" id="mailText">info@elektro42.ru</a>
          <button class="header__mail-btn text-color">Скопировать почту</button>
        </div>
      </div>
      <button class="burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>
      <div class="header__social">
        <div class="header__social-links">
          <a class="header__social-link" href="https://wa.me/79119220309" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 26.4">
              <defs></defs>
              <path fill="#fff" fill-rule="evenodd" d="M21.5 23.7c-.2 0-.4-.1-.5-.2l-6-4.2-3.2 2.4c-.3.2-.6.2-.9.1-.3-.1-.5-.4-.6-.7l-1.6-6.3-5.8-2.3c-.4-.2-.6-.5-.6-.9s.2-.8.6-.9l22.1-9c.1 0 .2-.1.3-.1h.1c.2 0 .4.1.6.3.1.2.2.4.2.6V2.8l-3.7 20c-.1.3-.3.6-.6.7-.2.1-.3.2-.4.2zm-6.1-6.4l5.4 3.7 2.9-15.6-10.5 10.4 2.2 1.5zm-4.5-.8l.7 2.8 1.6-1.1-2-1.4c-.1-.2-.2-.2-.3-.3zm-5.2-4.9l4 1.6c.3.1.5.4.6.7l.5 2c0-.2.1-.4.3-.6l10-9.9-15.4 6.2z" clip-rule="evenodd"></path>
            </svg>
          </a>
          <a class="header__social-link" href="https://t.me/+79119220309" target="_blank">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 26.4">
              <defs></defs>
              <path fill="#fff" fill-rule="evenodd" d="M25.1 12.3c-.1 5.8-4.8 10.5-10.7 10.4-1.7 0-3.4-.5-5-1.3l-5.8 1.9 1.9-5.6c-1-1.6-1.5-3.5-1.5-5.4.1-5.8 4.9-10.5 10.7-10.4C20.4 2 25 6.6 25.1 12.3zM14.6 3.5c-4.9 0-8.8 3.9-8.8 8.8 0 1.9.6 3.7 1.7 5.2l-1.1 3.3 3.4-1.1c4 2.7 9.5 1.6 12.2-2.4S23.6 7.7 19.5 5c-1.4-1-3.2-1.5-4.9-1.5zm5.3 11.2c-.1-.1-.3-.2-.5-.3-.3-.1-1.5-.7-1.8-.8-.2-.1-.4-.1-.6.1-.2.3-.7.8-.8 1-.1.2-.4.2-.6.1-.8-.3-1.5-.7-2.1-1.3-.6-.5-1-1.1-1.4-1.8-.1-.2-.1-.4.1-.5l.4-.4c.1-.1.2-.3.3-.4.1-.1.1-.3 0-.4-.1-.1-.6-1.4-.8-1.9-.2-.5-.4-.4-.6-.4H11c-.3 0-.5.1-.7.3-.5.4-.9 1.2-.9 2 .1 1 .4 1.9 1.1 2.6.1.2 1.8 2.8 4.4 3.9s2.6.7 3.1.6c.7-.1 1.4-.6 1.7-1.2.2-.4.3-.8.2-1.2z" clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
        <div class="header__social-text">Отвечаем<br>в течение 60 секунд</div>
      </div>
      <div class="header__connection-work">
        <div class="header__connection-time">Ежедневно с 09.00 до 18.00</div>
        <a class="header__connection-tel" href="tel:+73842446660">8 (3842) 44-66-60</a>
      </div>
    </div>
  </div>
  <div class="modal__copy is-hidden">
    <div class="modal__copy-text">Адрес электронной почты скопирован в буфер обмена</div>
  </div>
</header>
