<section class="hero zoom">
  <div class="hero__bg">
    <picture>
      <source media="(max-width: 992px)" srcset="../img/hero__bg.jpg">
      <!--<source srcset="../img/hero__bg.webp" type="image/webp">-->
      <img class="hero__bg-img" src="../img/hero__bg.jpg" alt="bg">
    </picture>
  </div>
  <div class="container hero__container">
    <div class="hero__title-wrap">
      <h1 class="hero__title">Спасибо за ваше обращение!<br>Мы свяжемся с вами в ближайшее время!</h1>
    </div>
    <a class="hero__btn  btn-reset btn-style" href="https://elektro42.ru">Вернуться на главную</a>
  </div>
</section>
