<section class="hero zoom">
  <div class="hero__bg">
    <picture>
      <source media="(max-width: 992px)" srcset="../img/hero__bg.jpg">
      <!--<source srcset="../img/hero__bg.webp" type="image/webp">-->
      <img class="hero__bg-img" src="../img/hero__bg.jpg" alt="bg">
    </picture>
  </div>
  <div class="container hero__container">
    <div class="hero__title-wrap">
      <h1 class="hero__title">Электромонтажные работы<br>для юридических лиц любой <span class="text-color">сложности в Кемерово со скидкой до 30%</span></h1>
    </div>
    <div class="hero__descr">
      <div class="hero__descr-item">
        <img src="../img/hero-descr-img-1.png" alt="#" class="hero__descr-img">
        <div class="hero__descr-text">Генеральный подрядчик<br><span class="text-bold">со своими бригадами</span></div>
      </div>
      <div class="hero__descr-item">
        <img src="../img/hero-descr-img-1.png" alt="#" class="hero__descr-img">
        <div class="hero__descr-text">Генеральный подрядчик<br><span class="text-bold">со своими бригадами</span></div>
      </div>
    </div>
    <button class="hero__btn  btn-reset btn-style">Получить расчет сметы</button>
  </div>
</section>
