<section class="hero zoom">
  <div class="hero__bg">
    <picture>
      <source media="(max-width: 992px)" srcset="../img/hero__bg.jpg">
      <!--<source srcset="../img/hero__bg.webp" type="image/webp">-->
      <img class="hero__bg-img" src="../img/hero__bg.jpg" alt="bg">
    </picture>
  </div>
  <div class="container hero__container">
    <div class="hero__title-wrap">
      <h1 class="hero__title">Электромонтажные работы<br><span class="text-bold">на складе в городе Кемерово</span></h1>
    </div>
  </div>
</section>

