<section class="partners zoom">
  <div class="container">
    <h2 class="partners__title section__title">Наши клиенты</h2>
    <ul class="partners__list list-reset">
      <li class="partners__item">
        <img src="../img/partner-1.jpg" alt="#">
      </li>
      <li class="partners__item">
        <img src="../img/partner-1.jpg" alt="#">
      </li>
      <li class="partners__item">
        <img src="../img/partner-1.jpg" alt="#">
      </li>
      <li class="partners__item">
        <img src="../img/partner-1.jpg" alt="#">
      </li>
      <li class="partners__item">
        <img src="../img/partner-1.jpg" alt="#">
      </li>
      <li class="partners__item">
        <img src="../img/partner-1.jpg" alt="#">
      </li>
      <li class="partners__item">
        <img src="../img/partner-1.jpg" alt="#">
      </li>
      <li class="partners__item">
        <img src="../img/partner-1.jpg" alt="#">
      </li>
      <li class="partners__item">
        <img src="../img/partner-1.jpg" alt="#">
      </li>
      <li class="partners__item">
        <img src="../img/partner-1.jpg" alt="#">
      </li>
      <li class="partners__item">
        <img src="../img/partner-1.jpg" alt="#">
      </li>
      <li class="partners__item">
        <img src="../img/partner-1.jpg" alt="#">
      </li>
    </ul>
  </div>
</section>
