<section class="problems zoom">
  <div class="container problems__container">
    <div class="problems__title-wrap">
      <h2 class="problems__title section__title">Проблема - работая с ненадежными бригадами вы рискуете срывом сроков и неполным выполнением работ</h2>
    </div>
    <div class="problems__content">
      <h2 class="problems__content-title"></h2>
      <div class="problems__content-benefits">
        <ul class="problems__benefits-list list-reset">
          <li class="problems__benefits-item">
            <div class="problems__benefits-shape">
              <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
              <svg width="100px" height="100px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 20L3 17V4L9 7M9 20L15 17M9 20V7M15 17L21 20V7L15 4M15 17V4M9 7L15 4" stroke="#fff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>

            </div>
            <h3 class="problems__benefits-title">Полный пакет отчетный документов</h3>
            <p class="problems__benefits-descr">Этот текст написан для макета, позже здесть будет продающий контент.
              Этот текст написан для макета, позже здесть будет продающий контент.</p>
          </li>
          <li class="problems__benefits-item">
            <div class="problems__benefits-shape">
              <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
              <svg width="100px" height="100px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 20L3 17V4L9 7M9 20L15 17M9 20V7M15 17L21 20V7L15 4M15 17V4M9 7L15 4" stroke="#fff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>

            </div>
            <h3 class="problems__benefits-title">Отлаженная схема работы и отчетности</h3>
            <p class="problems__benefits-descr">Этот текст написан для макета, позже здесть будет продающий контент.
              Этот текст написан для макета, позже здесть будет продающий контент.</p>
          </li>
          <li class="problems__benefits-item">
            <div class="problems__benefits-shape">
              <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
              <svg width="100px" height="100px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9 20L3 17V4L9 7M9 20L15 17M9 20V7M15 17L21 20V7L15 4M15 17V4M9 7L15 4" stroke="#fff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>

            </div>
            <h3 class="problems__benefits-title">Комплексный подход к выполнению работ</h3>
            <p class="problems__benefits-descr">Этот текст написан для макета, позже здесть будет продающий контент.
              Этот текст написан для макета, позже здесть будет продающий контент.</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

