<section class="projects zoom">
  <div class="container projects__container">
    <div class="projects__title-wrap">
      <h2 class="projects__title section__title">
        За 7 лет работы мы выполнили более 1000 проектов на различных типах объектов
      </h2>
      <div class="projects__title-descr">Все работы выполены ровно в срок и в полном объёме</div>
    </div>
    <div class="tabs">
      <div class="tab-content-active" id="tab-1">
        <ul class="projects__card list-reset paginated-list">
          <li class="projects__card-item">
            <a
              class="projects__card-img"
              href="../img/projects-gallery/projects-card-1.jpg"
              data-fancybox="group">
              <img src="../img/projects-gallery/projects-card-1.jpg" alt="#">
            </a>
            <h3 class="projects__card-title">Электромонтажные работы на складе в городе Кемерово</h3>
            <ul class="projects__card-descr">
              <li class="projects__card-text"><span class="text-bold">Выполненниые работы:</span> Замена кабелей, штробление стен, монтаж электрощитов</li>
              <li class="projects__card-text"><span class="text-bold">Срок выполнения работ:</span> 25 дней</li>
            </ul>
            <a class="projects__card-link" href="#">Посмотреть фото проекта</a>
            <a class="projects__card-hidden"
               data-fancybox="group"
               data-src="../img/projects-gallery/projects-card-2.jpg"
               data-thumb="../img/projects-gallery/projects-card-2.jpg"></a>
            <a class="projects__card-hidden"
               data-fancybox="group"
               data-src="../img/projects-gallery/projects-card-3.jpg"
               data-thumb="../img/projects-gallery/projects-card-3.jpg"></a>
          </li>

          <li class="projects__card-item">
            <a
              class="projects__card-img"
              href="../img/projects-gallery/projects-card-1.jpg"
              data-fancybox="group">
              <img src="../img/projects-gallery/projects-card-1.jpg" alt="#">
            </a>
            <h3 class="projects__card-title">Электромонтажные работы на складе в городе Кемерово</h3>
            <ul class="projects__card-descr">
              <li class="projects__card-text"><span class="text-bold">Выполненниые работы:</span> Замена кабелей, штробление стен, монтаж электрощитов</li>
              <li class="projects__card-text"><span class="text-bold">Срок выполнения работ:</span> 25 дней</li>
            </ul>
            <a class="projects__card-link" href="#">Посмотреть фото проекта</a>
            <a class="projects__card-hidden"
               data-fancybox="group"
               data-src="../img/projects-gallery/projects-card-2.jpg"
               data-thumb="../img/projects-gallery/projects-card-2.jpg"></a>
            <a class="projects__card-hidden"
               data-fancybox="group"
               data-src="../img/projects-gallery/projects-card-3.jpg"
               data-thumb="../img/projects-gallery/projects-card-3.jpg"></a>
          </li>

          <li class="projects__card-item">
            <a
              class="projects__card-img"
              href="../img/projects-gallery/projects-card-1.jpg"
              data-fancybox="group">
              <img src="../img/projects-gallery/projects-card-1.jpg" alt="#">
            </a>
            <h3 class="projects__card-title">Электромонтажные работы на складе в городе Кемерово</h3>
            <ul class="projects__card-descr">
              <li class="projects__card-text"><span class="text-bold">Выполненниые работы:</span> Замена кабелей, штробление стен, монтаж электрощитов</li>
              <li class="projects__card-text"><span class="text-bold">Срок выполнения работ:</span> 25 дней</li>
            </ul>
            <a class="projects__card-link" href="#">Посмотреть фото проекта</a>
            <a class="projects__card-hidden"
               data-fancybox="group"
               data-src="../img/projects-gallery/projects-card-2.jpg"
               data-thumb="../img/projects-gallery/projects-card-2.jpg"></a>
            <a class="projects__card-hidden"
               data-fancybox="group"
               data-src="../img/projects-gallery/projects-card-3.jpg"
               data-thumb="../img/projects-gallery/projects-card-3.jpg"></a>
          </li>

          <li class="projects__card-item">
            <a
              class="projects__card-img"
              href="../img/projects-gallery/projects-card-1.jpg"
              data-fancybox="group">
              <img src="../img/projects-gallery/projects-card-1.jpg" alt="#">
            </a>
            <h3 class="projects__card-title">Электромонтажные работы на складе в городе Кемерово</h3>
            <ul class="projects__card-descr">
              <li class="projects__card-text"><span class="text-bold">Выполненниые работы:</span> Замена кабелей, штробление стен, монтаж электрощитов</li>
              <li class="projects__card-text"><span class="text-bold">Срок выполнения работ:</span> 25 дней</li>
            </ul>
            <a class="projects__card-link" href="#">Посмотреть фото проекта</a>
            <a class="projects__card-hidden"
               data-fancybox="group"
               data-src="../img/projects-gallery/projects-card-2.jpg"
               data-thumb="../img/projects-gallery/projects-card-2.jpg"></a>
            <a class="projects__card-hidden"
               data-fancybox="group"
               data-src="../img/projects-gallery/projects-card-3.jpg"
               data-thumb="../img/projects-gallery/projects-card-3.jpg"></a>
          </li>

          <li class="projects__card-item">
            <a
              class="projects__card-img"
              href="../img/projects-gallery/projects-card-1.jpg"
              data-fancybox="group">
              <img src="../img/projects-gallery/projects-card-1.jpg" alt="#">
            </a>
            <h3 class="projects__card-title">Электромонтажные работы на складе в городе Кемерово</h3>
            <ul class="projects__card-descr">
              <li class="projects__card-text"><span class="text-bold">Выполненниые работы:</span> Замена кабелей, штробление стен, монтаж электрощитов</li>
              <li class="projects__card-text"><span class="text-bold">Срок выполнения работ:</span> 25 дней</li>
            </ul>
            <a class="projects__card-link" href="#">Посмотреть фото проекта</a>
            <a class="projects__card-hidden"
               data-fancybox="group"
               data-src="../img/projects-gallery/projects-card-2.jpg"
               data-thumb="../img/projects-gallery/projects-card-2.jpg"></a>
            <a class="projects__card-hidden"
               data-fancybox="group"
               data-src="../img/projects-gallery/projects-card-3.jpg"
               data-thumb="../img/projects-gallery/projects-card-3.jpg"></a>
          </li>

          <li class="projects__card-item">
            <a
              class="projects__card-img"
              href="../img/projects-gallery/projects-card-1.jpg"
              data-fancybox="group">
              <img src="../img/projects-gallery/projects-card-1.jpg" alt="#">
            </a>
            <h3 class="projects__card-title">Электромонтажные работы на складе в городе Кемерово</h3>
            <ul class="projects__card-descr">
              <li class="projects__card-text"><span class="text-bold">Выполненниые работы:</span> Замена кабелей, штробление стен, монтаж электрощитов</li>
              <li class="projects__card-text"><span class="text-bold">Срок выполнения работ:</span> 25 дней</li>
            </ul>
            <a class="projects__card-link" href="#">Посмотреть фото проекта</a>
            <a class="projects__card-hidden"
               data-fancybox="group"
               data-src="../img/projects-gallery/projects-card-2.jpg"
               data-thumb="../img/projects-gallery/projects-card-2.jpg"></a>
            <a class="projects__card-hidden"
               data-fancybox="group"
               data-src="../img/projects-gallery/projects-card-3.jpg"
               data-thumb="../img/projects-gallery/projects-card-3.jpg"></a>
          </li>

          <li class="projects__card-item">
            <a
              class="projects__card-img"
              href="../img/projects-gallery/projects-card-1.jpg"
              data-fancybox="group">
              <img src="../img/projects-gallery/projects-card-1.jpg" alt="#">
            </a>
            <h3 class="projects__card-title">Электромонтажные работы на складе в городе Кемерово</h3>
            <ul class="projects__card-descr">
              <li class="projects__card-text"><span class="text-bold">Выполненниые работы:</span> Замена кабелей, штробление стен, монтаж электрощитов</li>
              <li class="projects__card-text"><span class="text-bold">Срок выполнения работ:</span> 25 дней</li>
            </ul>
            <a class="projects__card-link" href="#">Посмотреть фото проекта</a>
            <a class="projects__card-hidden"
               data-fancybox="group"
               data-src="../img/projects-gallery/projects-card-2.jpg"
               data-thumb="../img/projects-gallery/projects-card-2.jpg"></a>
            <a class="projects__card-hidden"
               data-fancybox="group"
               data-src="../img/projects-gallery/projects-card-3.jpg"
               data-thumb="../img/projects-gallery/projects-card-3.jpg"></a>
          </li>

          <li class="projects__card-item">
            <a
              class="projects__card-img"
              href="../img/projects-gallery/projects-card-1.jpg"
              data-fancybox="group">
              <img src="../img/projects-gallery/projects-card-1.jpg" alt="#">
            </a>
            <h3 class="projects__card-title">Электромонтажные работы на складе в городе Кемерово</h3>
            <ul class="projects__card-descr">
              <li class="projects__card-text"><span class="text-bold">Выполненниые работы:</span> Замена кабелей, штробление стен, монтаж электрощитов</li>
              <li class="projects__card-text"><span class="text-bold">Срок выполнения работ:</span> 25 дней</li>
            </ul>
            <a class="projects__card-link" href="#">Посмотреть фото проекта</a>
            <a class="projects__card-hidden"
               data-fancybox="group"
               data-src="../img/projects-gallery/projects-card-2.jpg"
               data-thumb="../img/projects-gallery/projects-card-2.jpg"></a>
            <a class="projects__card-hidden"
               data-fancybox="group"
               data-src="../img/projects-gallery/projects-card-3.jpg"
               data-thumb="../img/projects-gallery/projects-card-3.jpg"></a>
          </li>

          <li class="projects__card-item">
            <a
              class="projects__card-img"
              href="../img/projects-gallery/projects-card-1.jpg"
              data-fancybox="group">
              <img src="../img/projects-gallery/projects-card-1.jpg" alt="#">
            </a>
            <h3 class="projects__card-title">Электромонтажные работы на складе в городе Кемерово</h3>
            <ul class="projects__card-descr">
              <li class="projects__card-text"><span class="text-bold">Выполненниые работы:</span> Замена кабелей, штробление стен, монтаж электрощитов</li>
              <li class="projects__card-text"><span class="text-bold">Срок выполнения работ:</span> 25 дней</li>
            </ul>
            <a class="projects__card-link" href="#">Посмотреть фото проекта</a>
            <a class="projects__card-hidden"
               data-fancybox="group"
               data-src="../img/projects-gallery/projects-card-2.jpg"
               data-thumb="../img/projects-gallery/projects-card-2.jpg"></a>
            <a class="projects__card-hidden"
               data-fancybox="group"
               data-src="../img/projects-gallery/projects-card-3.jpg"
               data-thumb="../img/projects-gallery/projects-card-3.jpg"></a>
          </li>

        </ul>
        <div class="pagination-container">
          <button class="pagination-button" id="prev-button" aria-label="Previous page" title="Previous page">&lt;</button>
          <div id="pagination-numbers"></div>
          <button class="pagination-button" id="next-button" aria-label="Next page" title="Next page">&gt;</button>
        </div>
      </div>
    </div>
  </div>
</section>
