<section class="services zoom">
  <div class="container services__container">
    <div class="services__title-wrap">
      <h2 class="services__title section__title">Выполним электромонтаж <span class="title-shape">
        <img src="../img/title-shape.png" alt="#"><span> под ключ </span><span class="text-bold">на любых типах объектов</span>
      </span> </h2>
    </div>
    <ul class="services__list list-reset">

      <li class="services__card">
        <a href="#">
          <img class="services__item-img" src="../img/services-card-1.jpg" alt="">
        </a>
        <div class="services__card-info">
          <a href="" class="services__card-title">Электромнтаж<br> на коммерческих объектах</a>
          <ul class="services__card-list list-reset">
            <li class="services__card-item">
              <a class="services__card-link">Промышленные электромонтажные работы</a>
            </li>
            <li class="services__card-item">
              <a class="services__card-link">Электромонтажные работы в офисе</a>
            </li>
            <li class="services__card-item">
              <a class="services__card-link">Электромонтажные работы в магазине</a>
            </li>
            <li class="services__card-item">
              <a class="services__card-link">Электромонтажные работы в складских комплексах</a>
            </li>
            <li class="services__card-item">
              <a class="services__card-link">Проектирование электромонтажных работ</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="services__card">
        <a href="#">
          <img class="services__item-img" src="../img/services-card-1.jpg" alt="">
        </a>
        <div class="services__card-info">
          <a href="" class="services__card-title">Монтаж уличного освещения</a>
          <ul class="services__card-list list-reset">
            <li class="services__card-item">
              <a class="services__card-link">Прокладка кабеля уличного освещения</a>
            </li>
            <li class="services__card-item">
              <a class="services__card-link">Установка уличных светодиодных светильников</a>
            </li>
            <li class="services__card-item">
              <a class="services__card-link">Монтаж СИП кабеля</a>
            </li>
            <li class="services__card-item">
              <a class="services__card-link">Прокладка кабедя над дорогой</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="services__card">
        <a href="#">
          <img class="services__item-img" src="../img/services-card-1.jpg" alt="">
        </a>
        <div class="services__card-info">
          <a href="" class="services__card-title">Внутренние<br>монтажные работы</a>
          <ul class="services__card-list list-reset">
            <li class="services__card-item">
              <a class="services__card-link">Монтаж распределительных устройств</a>
            </li>
            <li class="services__card-item">
              <a class="services__card-link">Монтаж кабеленесущих систем</a>
            </li>
            <li class="services__card-item">
              <a class="services__card-link">Подключение заземления</a>
            </li>
            <li class="services__card-item">
              <a class="services__card-link">Промышленное внутреннее освещение</a>
            </li>
            <li class="services__card-item">
              <a class="services__card-link">Установка прожектров на промышленных предприятиях</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="services__card">
        <a href="#">
          <img class="services__item-img" src="../img/services-card-1.jpg" alt="">
        </a>
        <div class="services__card-info">
          <a href="" class="services__card-title">Сборка<br>и монтаж электрощитов</a>
          <ul class="services__card-list list-reset">
            <li class="services__card-item">
              <a class="services__card-link">Монтаж и обслуживание ГРЩ</a>
            </li>
            <li class="services__card-item">
              <a class="services__card-link">Перенос электрощита</a>
            </li>
            <li class="services__card-item">
              <a class="services__card-link">Сборка электрощитов на 380 вольт</a>
            </li>
            <li class="services__card-item">
              <a class="services__card-link">Замена УЗО и дифавтоматов</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="services__card">
        <a href="#">
          <img class="services__item-img" src="../img/services-card-1.jpg" alt="">
        </a>
        <div class="services__card-info">
          <a href="" class="services__card-title">Монтаж<br>электропроводки</a>
          <ul class="services__card-list list-reset">
            <li class="services__card-item">
              <a class="services__card-link">Проектирование проводки</a>
            </li>
            <li class="services__card-item">
              <a class="services__card-link">Замена электропроводки</a>
            </li>
            <li class="services__card-item">
              <a class="services__card-link">Прокладка кабеля в гофре</a>
            </li>
            <li class="services__card-item">
              <a class="services__card-link">Прокладка кабеля по полу</a>
            </li>
            <li class="services__card-item">
              <a class="services__card-link">Прокладка силового кабеля</a>
            </li>
          </ul>
        </div>
      </li>

      <li class="services__card">
        <a href="#">
          <img class="services__item-img" src="../img/services-card-1.jpg" alt="">
        </a>
        <div class="services__card-info">
          <a href="" class="services__card-title">Монтаж<br>светильников</a>
          <ul class="services__card-list list-reset">
            <li class="services__card-item">
              <a class="services__card-link">Монтаж трековых светильников</a>
            </li>
            <li class="services__card-item">
              <a class="services__card-link">Монтаж светодиодных светильников</a>
            </li>
            <li class="services__card-item">
              <a class="services__card-link">Монтаж встраиваемых светильников</a>
            </li>
            <li class="services__card-item">
              <a class="services__card-link">Установка светильников Армстронг</a>
            </li>
            <li class="services__card-item">
              <a class="services__card-link">Монтаж линейных светильников</a>
            </li>
            <li class="services__card-item">
              <a class="services__card-link">Монтаж систем освещения</a>
            </li>
          </ul>
        </div>
      </li>


    </ul>
  </div>
</section>


