<section class="answers zoom">
  <div class="answers__bg" id="answers__bg"></div>

  <div class="container answers__container">
    <div class="answers__title-wrap">
      <h2 class="answers__title section__title">
        Посмотрите ответы эксперта на часто задаваемые вопросы
      </h2>
    </div>
    <div class="answers__wrap">
        <ul class="answers__list list-reset">
          <li class="answers__item">
            <a class="answers__item-link" href="" data-fancybox="video" data-type="iframe" data-width="900" data-height="510">
              <img class="answers__item-img" loading="lazy" src="https://elektro42.ru/img/services-card-5.jpg" alt="#">
              <div class="answers__item-btn">
                <svg width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                  <g transform="rotate(-15,100,100)">
                    <path id="textPath-mobile" d="M26,38 a38,38 0 1,1 0,2" />
                    <text>
                      <textPath href="#textPath-mobile" startOffset="0">
                        <tspan dy="0">Посмотрите ответ на вопрос!</tspan>
                      </textPath>
                    </text>
                  </g>
                </svg>
              </div>
            </a>
            <div class="answers__item-title">Здесь будет вопрос.Здесь будет вопрос.</div>
          </li>
          <li class="answers__item">
            <a class="answers__item-link" href="" data-fancybox="video" data-type="iframe" data-width="900" data-height="510">
              <img class="answers__item-img" loading="lazy" src="https://elektro42.ru/img/services-card-5.jpg" alt="#">
              <div class="answers__item-btn">
                <svg width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                  <g transform="rotate(-15,100,100)">
                    <path id="textPath-mobile" d="M26,38 a38,38 0 1,1 0,2" />
                    <text>
                      <textPath href="#textPath-mobile" startOffset="0">
                        <tspan dy="0">Посмотрите ответ на вопрос!</tspan>
                      </textPath>
                    </text>
                  </g>
                </svg>
              </div>
            </a>
            <div class="answers__item-title">Здесь будет вопрос.Здесь будет вопрос.</div>
          </li>
          <li class="answers__item">
            <a class="answers__item-link" href="" data-fancybox="video" data-type="iframe" data-width="900" data-height="510">
              <img class="answers__item-img" loading="lazy" src="https://elektro42.ru/img/services-card-5.jpg" alt="#">
              <div class="answers__item-btn">
                <svg width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                  <g transform="rotate(-15,100,100)">
                    <path id="textPath-mobile" d="M26,38 a38,38 0 1,1 0,2" />
                    <text>
                      <textPath href="#textPath-mobile" startOffset="0">
                        <tspan dy="0">Посмотрите ответ на вопрос!</tspan>
                      </textPath>
                    </text>
                  </g>
                </svg>
              </div>
            </a>
            <div class="answers__item-title">Здесь будет вопрос.Здесь будет вопрос.</div>
          </li>
          <li class="answers__item">
            <a class="answers__item-link" href="" data-fancybox="video" data-type="iframe" data-width="900" data-height="510">
              <img class="answers__item-img" loading="lazy" src="https://elektro42.ru/img/services-card-5.jpg" alt="#">
              <div class="answers__item-btn">
                <svg width="100" height="100" xmlns="http://www.w3.org/2000/svg">
                  <g transform="rotate(-15,100,100)">
                    <path id="textPath-mobile" d="M26,38 a38,38 0 1,1 0,2" />
                    <text>
                      <textPath href="#textPath-mobile" startOffset="0">
                        <tspan dy="0">Посмотрите ответ на вопрос!</tspan>
                      </textPath>
                    </text>
                  </g>
                </svg>
              </div>
            </a>
            <div class="answers__item-title">Здесь будет вопрос.Здесь будет вопрос.</div>
          </li>
        </ul>
    </div>
  </div>
</section>
