// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Onest", sans-serif;
  --content-width: 1440px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));

  // colors
  --light-color: #fff;
  --main-color: #1432e0;
  --main-color-second: #001b35;
  --text-color: #f6c758;
  --btn-color: #1432e0;
}
